* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F1F5F9;
    color: black;
    line-height: 1.6;
}

/* Top Alert Bar */

.top-alert {
    background: #dc2626;
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.top-alert a {
    color: yellow;
    text-decoration: none;
}

img {
    width: 70px;
    border-radius: 50%;
}

/* Risk Colors */

.risk-red {
    border-left: 6px solid red;
}

.risk-orange {
    border-left: 6px solid orange;
}

.risk-yellow {
    border-left: 6px solid gold;
}

.timestamp {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

/* Navigation */

nav {
    background: #1e293b;
    color: white;
    padding: 5px 0;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-container h2 {
    margin: auto auto auto 0;
    padding-left: 10px;
}

/* header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
        url('https://media.assettype.com/sentinelassam-english%2F2025-06-02%2Fntsz893e%2F16931547116aYmV6ox.webp?w=1024&auto=format%2Ccompress&fit=max');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: whitesmoke;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #dc2626;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #f42626;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* cards */

.card {
    background: #FDFFFF;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-5px);
    color: black;
}

.card h3,
#emergency h3 {
    margin-bottom: 10px;
    color: #f87171;
}

#emergency .card:hover {
    transform: translateY(-5px);
    background: white;
    color: black;
}

/* Disasters section */

.disasters {
    background-color: #1E293B;
}

.disaster-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.disaster-section,
.disaster-section b,
.disasters h2 {
    color: whitesmoke;
}

.disasters p {
    color: #bedde5;
}

/* Form Styling */

.report-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ebe8e896;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.report-form input,
.report-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.report-form textarea {
    min-height: 120px;
}

button {
    border: none;
    cursor: pointer;
}

/* table */

.sdma-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.sdma-table th,
.sdma-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
}